@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Poppins&display=swap');


body{
zoom: 0.791;
top: 0px;
left: 0px;
width: 1920px;
height: 4821px;
background: #f6f6f6 0% 0% no-repeat padding-box;
opacity: 1;
position:relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.container-1{
    /* position: absolute; */
    /* left: 376px;
    top:100px; */
    margin-top: 200px;
    height:937px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: left; */
    gap: 68px;
   
}



.elem-1 button, .carousel-caption button{
    text-transform: uppercase;
    width: 160px;
    height: 50px;
    background: #FF3147 0% 0% no-repeat padding-box;
    font: normal normal 600 14px/26px Poppins;
    color: rgb(255, 255, 255);
    border: 0px solid transparent;
    border-radius: 2px;
    opacity: 1;
    transition: ease-in-out 0.2s;
}

.elem-1 button:hover{
    background: #b72130;
}

.elem-2 img{
    width: 487px;
    height: 737px;
    opacity: 1;
}  

.card-title-1{
    
    width: 253px;
    /* UI Properties */
    text-align: left;
    font: normal normal 600 30px/40px Cormorant SC;
    color: #FF3147;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 39px;
}

.card-title-2{
    width: 614px;
    height: 180px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 60px/80px Cormorant SC;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    padding: -10px;
    margin-bottom: 50px;
    
}

.card-text-1{
        
    width: 584px;
    height: 93px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 16px/30px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 60px;
}

.container-2{
    height: 1030px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center ;
}
.container-2 .elem-1 div:nth-child(1){
    font: normal normal 600 24px/26px Cormorant SC;
}

.container-2 .elem-2 div:nth-child(1){
    height: 130px;
    font: normal normal bold 45px/65px Cormorant SC;
    width: 442px;
}
.container-2 .cards{
    width: 370px;
    height: 526px;
}

.container-2 .row-1{
    /* position: absolute; */
    left: 376px;
    top:100px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.container-2 .row-1 .elem-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 68px;
}

.container-2 .indicators button{
    background-color: transparent;
    border: transparent;
}

.carousel-indicators img{
    height: 9px;
    width: 8px;
}
.carousel-caption{
    position: absolute;
    /* border: 1px solid black; */
    border-radius: 5px;
    margin-left: 0px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 526px;
    left:0%;
    top:0%;
    background-color: #b72130;
    opacity:0;
    transition: ease-in-out 0.3s;
}
.carousel-caption:hover{
    opacity:1
}
.carousel-caption button{
    background-color: #ffffff;
    color: red;
    font:normal normal bold 14px/20px Poppins;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px
}

.carousel-inner{
    display: flex;
    width: 1200px;
    gap:30px;
    margin-bottom: 51px;
}
.container-2 .item{
  /* width: 370px; */ 
  position: relative;
  /* border: 1px solid black; */
  transition: ease-in-out 1s ;
  transform: translateX(-400px);
}
.container-2 .item > :nth-child(2){
    display: flex;
    flex-direction: column;
    gap:30px;
}
.container-2 .item > :nth-child(2) > :nth-child(2){
    font: normal normal 400 24px/26px Poppins;
}
.container-3{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-evenly;
    height: 2600px;  
    /* gap:120px; */
}

.container-item-2{
    margin-top:50px;
}
.container-item-3{
    margin-top: 120px;
    padding-top: 100px;
}
.container-3 > div{
    display: flex;
    flex-direction: column;
    align-items: center;  
   
}
.container-3 .card-title-1{
    width: 241px;
    font: normal normal 600 24px/26px Cormorant SC;
    text-align: center;
}
.container-3 .card-title-2{
    height: 80px;
    text-align: center;
    font: normal normal bold 45px/65px Cormorant SC;
}
.container-3 .card-items{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap:30px;
}

.container-3 .card-items div > div:nth-child(2){
/* UI Properties */
text-align: left;
font: normal normal bold 20px/80px Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.container-3 .card-items div > div:nth-child(3){
width: 256px;
height: 75px;
/* UI Properties */
text-align: left;
font: normal normal normal 16px/26px Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}


.container-3 .card-items-1 img{
     width: 770px;
     height: 567px;
}

.container-3 .card-items-1 {
    display: flex;
    gap:30px;
}

.container-3 .card-items-1 .row-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.container-3 .card-items-1 .row-2 .item{
   width:100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 15px;
   padding: 30px;
   background-color: #F6F6F6
}

.container-3 .card-items-1 .row-2 .item:hover{
    background-color: #dfdede
}

.container-3 .card-items-1 .row-2 div > div:nth-child(1){
    font: normal normal bold 20px/30px Poppins;
    width: 293px;
    height:28px;
}
.container-3 .card-items-1 .row-2 div > div:nth-child(2){
    font: normal normal normal 16px/28px Poppins;
    width: 293px;
    height:79px;
}
.container-3 .card-items-1 .row-2 > div:nth-child(1){
  background-color: rgb(255, 49, 71);
  color: white;
}

.container-3 .card-items-2{
    display: flex;
    align-items: end;
    gap:30px;
}
.container-3 .card-items-2 .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    height: 233px;
    width:270px;
    transition: ease-in-out 0.2s;
}

.container-3 .card-items-2 .item > div:nth-child(2){
    text-align: center;
    font: normal normal 300 60px/65px Poppins;

}
.container-3 .card-items-2 .item > div:nth-child(3){

    text-align: center;
    font: normal normal 300 20px/70px Poppins;
}

.container-3 .card-items-2 .item:hover{
    box-shadow: 3px 6px 20px #672C2C1F;
    background: #FFFFFF;
}
.container-item-4{
    margin-top: 100px;
    margin-bottom: 50px;
}
.container-item-4 .card-items-3 > :nth-child(1){
    position: absolute;
    transform: translate(-25px, -15px);
    z-index: -1;
}

.container-item-4 .card-items-3 > :nth-child(2){
    width: 831px;
    height: 62px;
    text-align: left;
    font: normal normal normal 20px/34px Poppins;
}

.container-item-4 .card-items-3 > :nth-child(3){
    margin-top: 24px;
}

.container-item-4 .card-items-3 > :nth-child(3) > :nth-child(1){
    width: 159px;
    height: 28px;
    text-align: left;
    font: normal normal bold 20px/34px Poppins;
    color: #FF3147;
}

.container-item-4 .card-items-3 > :nth-child(3) > :nth-child(2){
    width: 338px;
    height: 28px;
    text-align: left;
    font: normal normal 300 20px/34px Poppins;

    color: #808080;
}

.footer{
position: relative;
left: 0px;
width: 1920px;
height: 310px;
/* UI Properties */
background: transparent;
display: flex;
align-items: center;
justify-content: center;
}

.footer > :nth-child(2) {
    position: absolute;
 /* width: 1170px;
    height: 56px; */
}
.footer > :nth-child(2) img {
    width: 1170px;
    height: 56px;
}

.contact-form{
    position: fixed;
    z-index:2;
    display: none;
    flex-direction: column;
    gap:50px;
    top:25%;
    left:35%;
    height: max-content;
    width: max-content;
    background-color: #ffffff;
    box-shadow: 3px 6px 20px #672C2C1F;
    padding: 40px;
    font: normal normal bold 20px/24px Poppins;
}
.contact-form > :nth-child(1){
    text-align: left;
    font: normal normal bold 30px/44px Poppins;
}
.contact-form > :nth-child(3){
   position: absolute;
   top: 10px;
   right: 10px;
   border:0px;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.contact-form form > :nth-child(2){
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.contact-form form > :nth-child(3){
    background-color: #d03847;
    height: 80px;
    border-radius: 10px;
    color: white;
    font-size:30px;
}
.contact-form form > :nth-child(2) > :nth-child(2){
    transform: translateY(-5px);
    width:550px;
}


.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px; 
  }

  .grid-items:nth-child(1){
    background-color: #dddddd00; 
    text-align: left;
    grid-column: 1 / -1; /* Span all columns */
  }
  .grid-items:nth-child(1)
  .grid-items{
    position: relative;
  }

  .grid-items label{
    position: absolute;
    z-index:-1;
    color: grey;
    transition: ease-in-out 0.4s;
  }
  .grid-items input{
      border-top:0px;
      border-left:0px;
      border-right: 0px;
      border-bottom: 1px solid grey;
      background-color: transparent;
      width:100%;
      height: 50px;
      font-size: bold
  }

  input[type="text"]:focus, input[type="email"]:focus {
    outline: none;
    box-shadow: 0 0 5px transparent; /* Example of an alternative focus style */
}